<div class="almanac-info-item pt-3 pb-2 pe-4 pe-xxl-5 text-nowrap">
    <div class="d-flex align-items-end"><span class="fw-bold">黄历</span><span class="mx-1 small text-white-50">星期{{ week }} · {{ YMD }}</span>
    </div>
    <div class="d-flex align-items-end pt-3">
      <div class="fw-bold lead fs-3 me-4">{{ lunarCalendar }}</div>
      <div class="me-5 small d-flex flex-column">
        <span>{{ suiCiOfYear }}</span>
        <span class="small">{{ suiCi[0] +" "+ suiCi[1] }}</span>
      </div>
      <div class="text-white-50 fw-light">{{ star }}</div>
    </div>
    <div class="pt-3 small d-flex align-items-end" title="农历">
      <span>今年已过 {{ passDay }} / {{ totalDay }}天(农历)</span>
      <span class="ms-2 small text-white-50">还剩{{ surplusPercentage }}%</span>
      <span class="d-inline-block">
      <svg width="40" height="16" viewBox="0 0 40 16" class="h-100">
        <rect x="6" y="3" width="22" height="10" fill="none"
              stroke="{{ surplusPercentage > 5 ? 'white' : batteryColor }}" stroke-width="2" stroke-opacity=".75"/>
        <line x1="28" y1="8" x2="31" y2="8" stroke="{{ surplusPercentage > 5 ? 'white' :batteryColor }}"
              stroke-width="5" stroke-opacity=".75"/>
        <line x1="7" y1="8" x2="27" y2="8" stroke="{{ batteryColor }}" stroke-width="7"
              stroke-dasharray="{{ surplusPercentage * 20 / 100 }} 20"/>
      </svg>
    </span>
    </div>
</div>
<div class="almanac-info-item pt-2 pb-1">
  <div class="d-flex align-items-start">
    <div class="text-success lead p-2 fw-bold">宜</div>
    <div class="info-content d-flex flex-wrap small fw-light">
      {{ each yi }}
      <span class="pe-2">{{ $value }}</span>
      {{ if $value.includes("】")}}<span class="w-100"></span>{{ /if }}
      {{ /each }}
    </div>
  </div>
  <div class="d-flex align-items-start">
    <div class="text-danger lead p-2 fw-bold">忌</div>
    <div class="info-content d-flex flex-wrap small fw-light">
      {{ each ji }}
      <span class="pe-2">{{ $value }}</span>
      {{ if $value.includes("】")}}<span class="w-100"></span>{{ /if }}
      {{ /each}}
    </div>
  </div>
</div>